<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.some.order.mapper.OrderDetailMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.some.order.domain.OrderDetail">
        <id column="id" property="id" />
        <result column="order_no" property="orderNo" />
        <result column="goods_no" property="goodsNo" />
        <result column="num" property="num" />
        <result column="create_userid" property="createUserid" />
        <result column="create_time" property="createTime" />
        <result column="modify_userid" property="modifyUserid" />
        <result column="modify_time" property="modifyTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, order_no, goods_no, num, create_userid, create_time, modify_userid, modify_time
    </sql>
    <select id="getLockNum" resultType="Integer" >
		select
		 lock_num
		  from t_kc a where a.goods_no= #{goodsNo}
	</select>
    <update id="updateLockNum">
        update t_kc set lock_num = #{lockNum},modify_time = #{modifyTime} where goods_no = #{goodsNo} and lock_num= #{oldLockNum}
    </update>
</mapper>
